<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="25711148-3c2b-4193-b404-7ea6ab0cd7c1" name="ATOM-APIs" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableAllureReport@Folder">/Applications/jagadeesh/automation/zfjcloud_readyapi/deployment</con:setting>
    <con:setting id="25711148-3c2b-4193-b404-7ea6ab0cd7c1fileName">ATOM-APIs</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Single Page (Print)</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">/Applications/jagadeesh/automation/zfjcloud_readyapi</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="5a078932-dddc-485e-bb53-1833ebb34f88">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ba8cfb14-59c4-4b53-b8e2-2f53c101779b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="a24b6d11-1edb-4eee-99d5-e6ea6765c8f8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="36e028af-b970-4387-b7f8-4c94c36806bf">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
